.idea/
**/*.iml
**/.settings/*
.project
.classpath
.factorypath
**/.sts4-cache
**/target/**
**/test-output
**/.gradle/**
**/build/**
**/node_modules/**
**/WEB-INF/classes/**
**/rebel.xml
/.asciidoctorconfig.adoc
/javadoc/**
**/generatedDoc*.json
**/bin/**